@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
}

html, body {
    height: 4000px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 150px;
}
header > nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto;
}
header a {
    text-decoration: none;
    padding-left: 50px;
    color: black;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
}

header a:hover {
    text-decoration: underline;
    color: rgb(0, 211, 0);
}

.titulo {
    background-image: url("../imagens/imagem3.jpg   ");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.titulo h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 200px;
    text-shadow: 2px 2px 0px black;
}

.geral {
    display: flex;
    text-align: center;
}

.mensagem-1{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto;
    background-color: white;
    width: 1000px;
}

.mensagem-1 img {
    width: 700px;
}

.organizar-1 {
    padding:  10px 0px 0px 20px;
}

.mensagem-2 {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto;
    width: 1000px;
}

.mensagem-2 img {
    width: 600px;
}

.organizar-2 {
    padding:  10px 0px 0px 20px;
}

.vendas {
    margin: auto;
    background-image: url(../imagens/pexels-anna-shvets-5217774.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.vendas h1 {
    text-align: center;
    color: white;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 20px black;
    margin-bottom: 310px;
}

.vendas ul {
    display: flex;
    padding: 10px;
    align-items: ;
}

.vendas img {
    width: 300px ;
}

.vendas li {
    margin: auto;
    list-style: none;
}